@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-size: 1em;
    box-sizing: border-box;
}

main {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: black url(../imagens/fundo-madeira.jpg) no-repeat;
    background-size: cover;
}

section#iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 625px;
    width: 305px;
    background: rgba(180, 180, 180, 0) url(../imagens/frame-iphone.png) no-repeat;
    border-radius: 48px;
    overflow: hidden;

    transform: translate(-50%, -50%);
}

section#iframe > iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 75%;
    width: 87%;
    transform: translate(-48.5%, -49.5%);


}