@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-size: 1em;
    box-sizing: border-box;
}

main {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: black url(../imagens/fundo-madeira.jpg) no-repeat;
    background-size: cover;
}

section#iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 625px;
    width: 305px;
    background: rgba(180, 180, 180, 0) url(../imagens/frame-iphone.png) no-repeat;
    padding: 10px;
    border-radius: 48px;
    overflow: hidden;
    box-shadow: 3px 5px 20px -4px black;

    transform: translate(-50%, -50%);
}

section#iframe > iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 75%;
    width: 87%;

    transform: translate(-48.5%, -49.5%);
}

section#botoes {
    float: right;
    transform: translate(-10%, 38%);
    padding: 10px;
}

section#botoes > div.botoes {
    display: block;
    padding: 10px;
    margin-bottom: 15px;
}

section#botoes > div.botoes img {
    background-color: white;
    height: 75px;
    width: 75px;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.7);
    border: 1px solid white;
    border-radius: 50%;
}
section#botoes > div.botoes img:hover {
    
    border: 1px solid white;
    box-shadow: -1px -1px 6px 3px rgba(255, 255, 255, 0.4);

    transform: translate(-10px, -10px);
    transition: transform .3s, border 1s, box-shadow 1s;
}

section#botoes > div#back img {
    height: 70px;
    width: 70px;
    border: 1px solid black;
}
section#botoes > div#back img:hover {
    box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.63);
}